<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
  </head>
  <body>
    <main class="homepage-background">
      <%-include("partials/header.ejs") %>

      <div class="container-for-posts">
        <h1 class="allposts-header">All Posts</h1>
        <% if (posts.length === 0) { %>
        <p class="no-posts">No posts yet</p>
        <% } else { %>
        <div class="posts-list">
          <ul>
            <% posts.forEach(function(post) { %>
            <li class="post">
              <strong><%= post.title %></strong>: <%= post.content %>
              <a class="edit-icon" href="/edit/<%= post.id %>"
                ><ion-icon name="create-outline"></ion-icon
              ></a>
              <form
                action="/<%= post.id %>?_method=DELETE"
                method="POST"
                style="display: inline"
              >
                <button type="submit">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </form>
            </li>
            <% }) %>
          </ul>
        </div>
        <% } %>
      </div>
    </main>
  </body>
  <%-include("partials/footer.ejs") %>
</html>
